
.picture img{
    width:100px ;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    border: 2px solid #000000;
}
.picture{
    display:flex;
    flex-direction: row;
    width: 50%;
    align-items:center;
}
.userCard{
    width:100%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    text-align: left;
    align-items: center;
}
.tableauRank{
    display: flex;
    flex-direction: column;
}
.userName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
}
.lignStyle{
    color: #F43535;
    border:danger;
    border:2;
    opacity:50;
}