.my-link {
    background: #7B7B7B !important;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white !important;
}

.active>a {
    background: #f43535 !important;
}

.main-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f43535;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.main-btn:hover {
    background-color: #c32d2d;
}

.second-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7B7B7B;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.second-btn:hover {
    background-color: #7b7b7b80;
}


.nav-item {
    padding: 0 20px;
    margin: 0 20px;
}